body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

/* resert */

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

/* common */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container,
.header-nav {
    display: flex;
    align-items: center;
}

.nav-list,
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.nav-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    display: block;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* main */

.main-page-banner {
    background-color: #2e2f42;
    padding: 188px 0;
}

.main-page-container {
    text-align: center;   
}

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    margin: 0 auto;
}

.button:hover, 
.button:focus {
    background-color: #404bbf;
}

.second-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden; }

.benefits-container {
    display: block;
    margin: 0 auto;
    min-width: 1128px;
}

.second-title-benefits,
.team-list-our-team,
.list-our-portfolio {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.main-page-list-benefits {
    width: calc((100% - 72px) / 4);
}

.main-page-list-portfolio {
    width: calc((100% - 48px) / 3);
}

.main-page-portfolio,
.main-page-benefits,
.main-page-our-team {
    padding: 120px 0;
}

.our-team-container-name-position {
    padding: 32px 0;
    text-align: center;
}

.third-title { 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-list {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
}

.main-page-our-team {
    background-color: #f4f4fd;
}

.list-our-portfolio {
    flex-wrap: wrap;
    row-gap: 48px;
}

.container-text-portfolio {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    width: 360px;
    height: 120px;
    padding: 32px 16px;
}

/* footer */

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-text {
    color: #f4f4fd;
    max-width: 264px;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}
